body{
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

#start-game-button {
  border: 0;
  box-shadow: 0;
  background: linear-gradient(to bottom, #9DA400, #BAC600);
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 5px;
}

#hangman {
    border-style: solid;
    border-width: 10px;
    background-color: rgb(244, 255, 213);
    border-radius: 15px;
    border-image: linear-gradient(180deg, rgb(0,143,104), rgb(250,224,66)) 1;
}
#left-section{
  padding: 50px;
}
